html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:'Rimouski', sans-serif;
  font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/*--------Header-------*/
.header {
  width: 100%;
  height: 80px;
  margin: auto;
  display: block;
  background-color: #494B5E;
}

.inner-header {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: white;
  height: 85%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 750;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/*--------Content---------*/
.content{
  width: 100%;
  height: 770px;
}

.nav {
  background-color: #575674;
  width: 30%;
  height: 100%;
  float: left;
}

.nav ul {
  margin-left: 120px;
  margin-top: 400px;
}

.nav ul a {
  font-weight: 600;
  font-size: 35px;
  line-height: 58px;
  color: #FFFFFF;
}

.main{
  background-color: #777A90;
  width: 70%;
  height: 100%;
  overflow: hidden;
}

#close_up_screen {
  height: 40%;
  background: whitesmoke;
  width: 70%;
  margin-right: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  text-align: center;
}


#graph_screen {
  height: 95%;
  background: whitesmoke;
  width: 97%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/*-------footer---------*/
.footer {
  display: flex;
  margin: auto;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #494B5E;
}

