{% extends 'base.html' %}
{% block main %}
<div class="content">
    <div class = "help-main">
        <h1>Data Digitizer Axes Guide</h1>
        <ul>
            <li>1. After uploading your image, you must callibrate your axis by selecting the points shown on the image.</li>
            <img src="static\icons\axescalibrationicon.jpg">
            <li>2. Once you have selected your axis points, please enter their corresponding values</li>
            <img src="static\icons\popupformicon.png">
            <li>3. Additionally, if you would like to add your own X & Y labels, or specify the number of decimal points, please select the "Set Labels" option</li>
            <img src="static\icons\setlabelsicon.png">
        </ul>
    </div>
</div>  
{% endblock %}