{% extends 'base.html' %}
{% block main %}
<div class="content">
    <div class = "help-main">
        <h1>Data Digitizer Measurements Guide</h1>
        <ul>
            <li>1. After uploading your image and callibrating your axes, you can either manually select points or use the automatic extraction feature. <br>
            If you would like to manually select points, select "Get Points" and mark the points you want to extract</li>
            <img src="static\icons\markersicon.png">
            <li>2. If you would like to instead use the automatic extraction feature, click "Automatic Points Extraction" and use the colour picker to select the colour of your graph. <br>
            A CSV file will then be downloaded containing all the points</li>
            <img src="static\icons\autoextracticon.png">
        </ul>
        </ul>
    </div>
</div>  
{% endblock %}