<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Data Digitizer | Home</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta http-equiv = "X-UA-Compatible" content = "ie = edge" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <link rel ="stylesheet" media ="screen" href ="\static\style.css"/>
    <link rel="icon" type="image/svg+xml" href="static\icons\favicon.svg" />
</head>

<body>

<div class = "header">
    <div class = "inner-header">
        <div class = "logo-container">
            <h1>Data Digitizer</h1>
        </div>

        <ul class = "header-navigation">
            <a href="/" ><li>Home</li></a>
            <a href="/help" ><li>Help</li></a>
            {% if email %}
            <a href="#" ><li>Hello, {{email}}</li></a>
            <a href="/signout" ><li>Sign Out</li></a>
            {% else %}
                <a href="/login" ><li>Login</li></a>
                <a href="/signup" ><li>Sign Up</li></a>
            {% endif %}
        </ul>
    </div>
</div>

<div class="content">
    <div class = "help-main">
        <h1>Data Digitizer Measurements Guide</h1>
        <ul>
            <li>1. After uploading your image and callibrating your axes, you can either manually select points or use the automatic extraction feature. <br>
            If you would like to manually select points, select "Get Points" and mark the points you want to extract</li>
            <img src="static\icons\markersicon.png">
            <li>2. If you would like to instead use the automatic extraction feature, click "Automatic Points Extraction" and use the colour picker to select the colour of your graph. <br>
            A CSV file will then be downloaded containing all the points</li>
            <img src="static\icons\autoextracticon.png">
        </ul>
        </ul>
    </div>
</div>  



<div class = "footer">
</div>



<script src="\static\script.js"></script>
</body>
</html>