{% extends 'base.html' %}
{% block main %}
<div class="content">
    <div class = "help-main">
        <h1>Data Digitizer Quickstart Guide</h1>
        <ul>
            <li>1. On the side bar, hover over to the Images tab and upload an image of the graph you want to work with.</li>
            <img src="static\icons\imagetabicon.png">
            <li>2. Just below the images tab, click on "Axes Calibration", and click on the minimum x value, maximum x value, minimum y value and maximum y value respectively.</li>
            <img src="static\icons\axescalibrationicon.jpg">
            <li>3. Once the axes calibration is complete, a pop-up form will appear, prompting you to enter the values for the respective points.</li>
            <img src="static\icons\popupformicon.png">
            <li>4. To extract data from your graph, either select points manually by going to Measurements => Get Points or automatically extract all of the points from your selected line by going to Measurements => Automatic Points Extraction.</li>
            <img src="static\icons\markersicon.png">
            <li>5. Finally, hover over to the Datasets tab and click "Export Data", this will download a csv file containing all the points you have marked.</li>
            <img src="static\icons\exportdataseticon.png">
        </ul>
    </div>
</div>  
{% endblock %}