
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:'Rimouski', sans-serif;
  font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    height: 625px;
    width: 1200px;
    margin: 0 auto;
    overflow-y: auto;
}

#particles {
  max-width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/*--------Header-------*/
.header {
  width: 100%;
  height: 10vh;
  margin: auto;
  display: block;
  background-color: #494B5E;
}

.inner-header {
  width: 85%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: white;
  height: 85%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 750;
}

.header-navigation {
  float: right;
  height: 100%;
}

.header-navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.header-navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.header-navigation a li:hover {
  font-size: 130%;
}

/*--------Popup Form---------*/
.axes-form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #575674;
}

.form-container label {
  color: #f1f1f1;
}

.form-container h2 {
  color: #f1f1f1;
}

.form-container input[type=number]{
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.create-dataset-form {
  display: none;
  position: fixed;
  top: 0;
  right: 50%;
  z-index: 9;
}
/*--------Content---------*/
.content{
  width: 100%;
  height: 100%;
}

.sidebar-navigation {
  background-color: #575674;
  width: 30%;
  height: 100%;
  float: left;
}

.sidebar-navigation ul {
  margin-left: 20%;
}

.options {
  cursor: default;
  font-weight: 550;
  font-size: x-large;
  line-height: 40px;
  color: #FFFFFF;
}

.hidden{
  display: none;
  font-weight: 250;
  font-size: large;
  line-height: 40px;
  color: #ffffffc4;
}

.options:hover + .hidden {
  display: block;
} 

.hidden:hover {
  display: block;
  cursor: pointer;
}

.hidden-options {
  color: #ffffffc4;
  line-height: 30px;
}

.hidden-options:hover {
  font-size: 105%;
}

.main{
  background-color: #777A90;
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.zoom-preview {
  height: 250px;
  background: whitesmoke;
  width: 300px;
  margin: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
}

#graph-screen {
  height: 93%;
  background: whitesmoke;
  width: 92%;
  margin: 3%;
  margin-left: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#image-container {
  width: 100%;
  height: 100%;
  position: relative;
  display:flex;
}

#display-coord {
  width: 15%;
  top: 0px;
  right: 0px;
  position: absolute;
}

#graph-image {
  max-width:100%;
  max-height:100%;
  margin: auto;
  object-fit: contain;
}

#graph-screen :hover {
  cursor: crosshair;
}

#dataset-display {
  margin-left: 20px;
  z-index: 8;
  position: absolute;
}

.dataset-list-options {
  color: #494B5E;
}

.marker {
  pointer-events: none;
}

.marker :hover {
  cursor: crosshair;
}

/*-------footer---------*/
.footer {
  display: flex;
  margin: auto;
  position: relative;
  width: 100%;
  height: 5vh;
  background-color: #494B5E;
}

/*-------help-page---------*/
.help-main {
  height: 100%;
  width: 100%;
  background-color: #777A90;
  overflow: auto;
  color: #f1f1f1;
}

.help-main h1 {
  text-align: center;
  margin: 20px;
}

.help-main li {
  display: inline-block;
  padding: 10PX;
  line-height: 20px;
  font-weight: 40px;
  width: 50%;
  margin-left: 100px;
}

.help-main img {
  align-content: center;
  max-width: 20%;
  max-height: 20%;
  margin-left: 50px;
}

/*-------login & sign up page---------*/
.signin-form{
  width: 50%;
  height: 60%;
  margin: 5% auto 15% auto;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signin-form label {
  color: #494B5E;
  line-height: 20px;
  display: block;
}

.signin-form p {
  color: #494B5E;
}

.signin-form-container {
  padding: 16px;
}

.sign-in-form-btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signin-form-container input[type=email], .signin-form-container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
