{% extends 'base.html' %}
{% block main %}
<!--Axes popup form-->
<div class="axes-form-popup" id="axes-form">
  <form  method="post" class="form-container">
    <h3>Please enter the values below</h3>
    <label for="min-x">Min-X</label>
    <input type="number" placeholder="Enter minimum X value" name = "min-x" id="min-x" required>
    <label for="max-x">Max-X</label>
    <input type="number" placeholder="Enter maximum X value" name = "max-x" id="max-x" required>
    <label for="min-y">Min-Y</label>
    <input type="number" placeholder="Enter minimum Y value" name = "min-y" id="min-y" required>
    <label for="max-y">Max-Y</label>
    <input type="number" placeholder="Enter maximum Y value" name = "max-y" id="max-y" required>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeAxesForm()">Close</button>
  </form>
</div>

<!--Database creation popup form-->
<div class="dataset-form" id="dataset-creation-form">
  <form method="post" class="form-container">
    <label for="dataset-name">Dataset Name</label>
    <input type="text" placeholder="Enter dataset name" name="dataset-name"  id="dataset-name" required>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeCreateDatasetForm()">Close</button>
  </form>
</div>

<!--Database selection popup form-->
<div class="dataset-form" id="dataset-selection-form">
  <form method="post" class="form-container" action="{{ url_for('select_dataset') }}">
    <label for="dataset">Select Dataset</label>
    <select class="dataset-list-options" name="dataset">
      <option class="dataset-list-options" value="{{dataset_list[0]}}" selected>{{dataset_list[0]}}</option>
      {% for dataset in dataset_list[1:] %}
        <option class="dataset-list-options" value="{{dataset}}">{{dataset}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeSelectDatasetForm()">Close</button>
  </form>
</div>

<!--Database delection popup form-->
<div class="dataset-form" id="dataset-delection-form">
  <form method="post" class="form-container" action="{{ url_for('delete_dataset') }}">
    <label for="dataset">Select Dataset</label>
    <select class="dataset-list-options" name="dataset">
      <option class="dataset-list-options" value="{{dataset_list[0]}}" selected>{{dataset_list[0]}}</option>
      {% for dataset in dataset_list[1:] %}
        <option class="dataset-list-options" value="{{dataset}}">{{dataset}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn">Delete</button>
    <button type="button" class="btn cancel" onClick="closeDeleteDatasetForm()">Close</button>
  </form>
</div>

<!--Axes Label form-->
<div class="dataset-form" id="axes-label-form">
  <form method="post" class="form-container" action="{{ url_for('axes_label') }}">
    <label for="x-axis">X-Axis</label>
    <input type="text" placeholder="Enter X-axis label" name="x-axis"  id="x-axis" required>
    <label for="y-axis">Y-Axis</label>
    <input type="text" placeholder="Enter Y-axis label" name="y-axis"  id="y-axis" required>
    <label for="dp-value">Decimal Point Value</label>
    <input type="number" placeholder="Enter Number of Decimal Points" name="dp-value"  id="dp-value" required>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeAxesLabelForm()">Close</button>
  </form>
</div>


<!--Auto Extraction colour picker popup form-->
<div class="dataset-form" id="auto-extract-form">
  <form method="post" class="form-container" action="{{ url_for('auto_extract') }}">
    <label for="graph-colour">Select the colour of your graph:</label>
    <input type="color" id="graph-colour" name="graph-colour" value="#ff0000"><br><br>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeAutoExtractForm()">Close</button>
  </form>
</div>

<!--Main page content-->
<div class = "content">
  <div class = "sidebar-navigation">
    <div class = "zoom-preview">
      <img src="static\icons\crosshair.png" width="300px" height="250px">
    </div>
    <ul>
      <div class="options">Images</div>
      <div class="hidden">
        <form method="post" action="/upload_image" enctype="multipart/form-data">
          <dl>
              <p>
                  <input type="file" name="file" class="form-control" autocomplete="off" accept="image/*"> 
              </p>
          </dl>
          <p>
              <input type="submit" value="Submit" class="btn btn-info">
          </p>
        </form>
      </div>
      <div class="options">Axes</div>
      <div class="hidden">
        <li onclick="callibrateAxes()" class="hidden-options">Axes calibration</li>
        <li onclick="openAxesLabelForm()" class="hidden-options">Set Labels</li>
      </div>
      <div class="options">Measurements</div>
      <div class="hidden">
        <li onclick="getPointValue()" class="hidden-options">Get Point Values</li>
        <li onclick="openAutoExtractForm()" class="hidden-options">Automatic Points Extraction</li>
      </div>
      <div class="options">Datasets</div>
      <div class="hidden">
        <li onclick="openCreateDatasetForm()" class="hidden-options">Create Dataset</li>
        <li onclick="openSelectDatasetForm()" class="hidden-options">Select Dataset</li>
        <a class = hidden-options href="{{ url_for('.download_file') }}">
          <li class="hidden-options">Export Dataset</li>
        </a>
        <li onclick="openDeleteDatasetForm()" class="hidden-options">Delete Dataset</li>
      </div>
    </ul>
  </div>
  <div class = "main">
    <div id = "graph-screen">
      <div id = "image-container" >  
        {% if dataset_name != "temp"%}
        <p id="dataset-display">{{dataset_name}}</p>
        {% endif %}
        <p id="display-coord"></p>
        <img id ="graph-image" onclick="recordCoords(event)" onmousemove="getPos(event)" onmouseout="stopTracking()" src="{{filename}}">
      </div>
    </div>
  </div>
</div>

<script>
  var axescallibrated = "{{ axescallibrated }}";
  console.log(axescallibrated)
</script>
{% endblock %}