<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Data Digitizer | Home</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
  <meta http-equiv = "X-UA-Compatible" content = "ie = edge" />
  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
  <link rel ="stylesheet" media ="screen" href ="\static\style.css"/>
</head>
<body>

<!--Header-->
<div class = "header">
  <div class = "inner-header">
    <div class = "logo-container">
      <h1>Data Digitizer</h1>
    </div>

    <ul class = "header-navigation">
      <a href="/" ><li>Home</li></a>
      <a href="/help" ><li>Help</li></a>
      {% if email != "temp"%}
        <a href="#" ><li id="username">{{email}}</li></a>
        <a href="/signout" ><li>Sign Out</li></a>
      {% else %}
        <a href="/login" ><li>Login</li></a>
        <a href="/signup" ><li>Sign Up</li></a>
      {% endif %}
    </ul>
  </div>
</div>

<!--Axes popup form-->
<div class="axes-form-popup" id="axes-form">
  <form  method="post" class="form-container">
    <h2>Please enter the values below</h2>
    <label for="min-x">Min-X</label>
    <input type="number" placeholder="Enter minimum X value" name = "min-x" id="min-x" required>
    <label for="max-x">Max-X</label>
    <input type="number" placeholder="Enter maximum X value" name = "max-x" id="max-x" required>
    <label for="min-y">Min-Y</label>
    <input type="number" placeholder="Enter minimum Y value" name = "min-y" id="min-y" required>
    <label for="max-y">Max-Y</label>
    <input type="number" placeholder="Enter maximum Y value" name = "max-y" id="max-y" required>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeAxesForm()">Close</button>
  </form>
</div>

<!--Database creation popup form-->
<div class="create-dataset-form" id="dataset-form">
  <form method="post" class="form-container">
    <label for="dataset-name">Dataset Name</label>
    <input type="text" placeholder="Enter dataset name" name="dataset-name"  id="dataset-name" required>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onClick="closeDatasetForm()">Close</button>
  </form>
</div>

<!--Main page content-->
<div class = "content">
  <div class = "sidebar-navigation">
    <div class = "zoom-preview">
      <img src="static\icons\crosshair.png" width="300px" height="250px">
    </div>
    <ul>
      <div class="options">Images</div>
      <div class="hidden">
        <form method="post" action="/upload_image" enctype="multipart/form-data">
          <dl>
              <p>
                  <input type="file" name="file" class="form-control" autocomplete="off" accept="image/*"> 
              </p>
          </dl>
          <p>
              <input type="submit" value="Submit" class="btn btn-info">
          </p>
        </form>
      </div>
      <div class="options">Axes</div>
      <div class="hidden">
        <li onclick="callibrateAxes()" class="hidden-options">Axes calibration</li>
      </div>
      <div class="options">Measurements</div>
      <div class="hidden">
        <li onclick="getPointValue()" class="hidden-options">Get Point Values</li>
      </div>
      <div class="options">Datasets</div>
      <div class="hidden">
        <li onclick="openDatasetForm()"class="hidden-options">Create Dataset</li>
        <li class="hidden-options">Select Dataset</li>
        <a class = hidden-options href="{{ url_for('.download_file') }}">
          <li class="hidden-options">Export Dataset</li>
        </a>
        <li class="hidden-options">Delete Dataset</li>
      </div>
    </ul>
  </div>
  <div class = "main">
    <div id = "graph-screen">
      <div id = "image-container" onmousemove="getPos(event)" onmouseout="stopTracking()">  
        <p id="display-coord"></p>
        <img id ="graph-image" onclick="recordCoords(event)" src="{{filename}}">
      </div>
    </div>
  </div>
</div>



<div class = "footer">
</div>



<script src="\static\script.js"></script>
</body>
</html>