{% extends 'base.html' %}
{% block main %}
<div class="content">
    <div class = "help-main">
        <div class="signin-form">
            <form method="POST">
                <div class="signin-form-container">
                    <label for="email">E-mail</label>
                    <input type="email" placeholder="Enter email" name="email" required/>
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter password" name="password" required/>
                    {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    <button class="sign-in-form-btn" type="submit">Login</button>
                </div>
            </form>
            <a href="{{ url_for('signup') }}">Sign up instead</a>
            <a href="{{ url_for('password_reset') }}">Forgot your password?</a>
        </div>
    </div>
</div>
{% endblock %}