<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Data Digitizer | {{title}}</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta http-equiv = "X-UA-Compatible" content = "ie = edge" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <link rel ="stylesheet" media ="screen" href ="\static\style.css"/>
    <link rel="icon" type="image/svg+xml" href="static\icons\favicon.svg" />
</head>
<body>
    <p>
        To reset your password
        <a href="{{ url_for('password_reset_verified', user=user, token=token, _external=True) }}">
            click here
        </a>.
    </p>
</body>
</html>